<h1 class="mat-display-1">Request</h1>
<p>
  After you submit a request for collaboration or help, you will get
further instructions and more information about the program. You can change your profile,
interests, and requests at any time.
</p>
<form #form="ngForm" (submit)="onSubmit()">
	<mat-card>
		<mat-card-title>About You</mat-card-title>
		<mat-card-content>
			<mat-form-field>
				<input matInput placeholder="Your Email" name="email" required [(ngModel)]="request.email">
				<mat-error>You will need to provide an email that we can verify by sending an activation code.
				</mat-error>
			</mat-form-field>
			<br/>
			<br/>

			<mat-form-field>
				<input matInput placeholder="Link to your work (e.g. lab webpage, publication list,...)?" name="work" required [(ngModel)]="request.work">
				<mat-error>This is required.</mat-error>
			</mat-form-field>
			<br/>
			<br/>

			<mat-form-field>
				<input matInput placeholder="Your Name" name="name" required [(ngModel)]="request.name">
				<mat-error>This is required.</mat-error>
			</mat-form-field>
			<br/>

			<mat-form-field>
				<mat-select name="title" required [(ngModel)]="request.title" placeholder="Your Title">
					<mat-option  *ngFor="let title of titles" value="{{title.key}}">{{title.value}}</mat-option>
				</mat-select>
				<mat-error>This is required.</mat-error>
			</mat-form-field>
			<br/>

			<mat-form-field>
				<mat-select name="location" required [(ngModel)]="request.location" placeholder="Your Location">
					<mat-option  *ngFor="let location of locations" value="{{location.key}}">{{location.value}}</mat-option>
				</mat-select>
				<mat-error>This is required.</mat-error>
			</mat-form-field>
			<br/>
			<br/>

			<mat-card-title>Your Intentions</mat-card-title>
			<mat-form-field>
				<mat-select name="interest" required [(ngModel)]="request.interest" placeholder="Interested In">
					<mat-option  *ngFor="let interest of interests" value="{{interest.value}}">{{interest.en_us}}</mat-option>
				</mat-select>
				<mat-error>This is required.</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-select name="field" required [(ngModel)]="request.field" placeholder="Research Field">
					<mat-option  *ngFor="let field of fields" value="{{field.key}}">{{field.value}}</mat-option>
				</mat-select>
				<mat-error>This is required.</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Comments and Collaboration Needs" name="need" required [(ngModel)]="request.need">
				<mat-error>This is required.</mat-error>
			</mat-form-field>
			<br/>

		</mat-card-content>
			<mat-card-actions align="end">
				<button mat-button type="reset" color="primary">Reset</button>
				<button mat-button type="submit" color="primary" [disabled]="form.invalid">Submit</button>
			</mat-card-actions>
	</mat-card>
</form>