<mat-card>
	<mat-card-title>About the Collaboration Framework</mat-card-title>
	<mat-card-content>
		<p>
      Ut porttitor leo a diam sollicitudin tempor id eu nisl. Suspendisse interdum consectetur libero id faucibus. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Lorem donec massa sapien faucibus et molestie ac. Consectetur adipiscing elit ut aliquam purus. Etiam dignissim diam quis enim lobortis convallis posuere morbi leo urna molestie. Sed ullamcorper morbi tincidunt ornare. Egestas diam in arcu cursus euismod quis. In massa tempor nec feugiat nisl pretium. Porta nibh venenatis cras sed. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris.
		</p>
    <p>
Cras semper auctor neque vitae tempus quam pellentesque. Aliquet nibh praesent tristique magna sit amet purus. Netus et malesuada fames ac turpis. Convallis convallis tellus id interdum velit laoreet id donec ultrices. Cras adipiscing enim eu turpis egestas pretium aenean pharetra. Fames ac turpis egestas sed tempus urna et. Amet nisl purus in mollis nunc sed. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. Viverra adipiscing at in tellus. Diam phasellus vestibulum lorem sed.
    </p>
<p>
Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Leo duis ut diam quam nulla porttitor massa. Amet consectetur adipiscing elit pellentesque habitant morbi. Turpis nunc eget lorem dolor sed viverra ipsum. Sit amet cursus sit amet dictum. Sit amet mattis vulputate enim nulla aliquet porttitor lacus. Fermentum scelerisque eleifend donec. Pulvinar neque laoreet suspendisse interdum consectetur. Fames ac turpis egestas maecenas pharetra.
    </p>
	</mat-card-content>
	<mat-card-actions align="end">
		<a mat-button target="_blank" href="https://www.science4africa.org" color="primary">Science 4 Africa</a>
		<a mat-button target="_blank" href="mail:contact@science4africa.org" color="primary">Contact Us</a>
	</mat-card-actions>
</mat-card>
