<mat-sidenav-container fullscreen>
	<div *ngIf="toggleMenu" class="card text-center">
		<mat-sidenav #exampleSidenav class="example-sidenav mat-elevation-z3" [mode]="isMobile ? 'over' : 'side'">
			<mat-toolbar>
				Menu
				<span fxFlex></span>
				<button mat-icon-button (click)="exampleSidenav.close()"><mat-icon>keyboard_arrow_left</mat-icon></button>
			</mat-toolbar>
			<mat-nav-list style="z-index: 2">
				<a mat-list-item routerLink="/offers" routerLinkActive="active-link"
					(click)="exampleSidenav.close()">View Offers</a>
				<a mat-list-item routerLink="/requests" routerLinkActive="active-link"
					(click)="exampleSidenav.close()">View Requests</a>
				<a mat-list-item routerLink="/matching" routerLinkActive="active-link"
					(click)="exampleSidenav.close()">Match Maker</a>
				<a mat-list-item (click)="toggleGuides()">
					<p matLine>Management</p>
					<mat-icon [class.isToggled]="hideGuides" class="toggle-component-icon"
						[class.isUnToggled]="!hideGuides">keyboard_arrow_down</mat-icon>
				</a>
			</mat-nav-list>
			<div *ngIf="hideGuides" class="guide-examples-sect" @enterAnimation>
				<mat-nav-list>
					<a mat-list-item *ngFor="let adminLink of adminLinks" [routerLink]="['/admin', adminLink.url]"
						routerLinkActive="active-link" (click)="exampleSidenav.close(); changeTitle(adminLink.name)">
						<p matLine>{{adminLink.name}}</p>
					</a>
				</mat-nav-list>
			</div>
		</mat-sidenav>
	</div>

	<div *ngIf="user; else anonymous" class="card text-center">
		<mat-toolbar color="primary" class="mat-elevation-z3">
			<div *ngIf="enableMenu" class="card text-center">
				<button mat-mini-fab color="primary" (click)="exampleSidenav.toggle()"><mat-icon>menu</mat-icon></button>
			</div>
			<a mat-mini-fab color="primary" routerLink="/" routerLinkActive="active-link" title="home">
				<mat-icon>home</mat-icon>
			</a>
			&nbsp; Collaboration Framework
			<span fxFlex></span>
			<a mat-mini-fab color="primary" routerLink="/home" routerLinkActive="active-link" title="home">
				<mat-icon>folder</mat-icon>
			</a>
			&nbsp;
			<img style="margin:0px;height:48px;width:48px; border-radius: 100%;" src="{{ user.photoURL }}" title="{{ user.email }}">
				&nbsp;
				{{ user.displayName }}
				&nbsp;
			<a mat-mini-fab color="primary" routerLink="/logout" routerLinkActive="active-link" title="logout">
				<mat-icon>clear</mat-icon>
			</a>
		</mat-toolbar>
	</div>

	<ng-template #anonymous>
		<mat-toolbar color="primary" class="mat-elevation-z3">
			<a mat-mini-fab color="primary" routerLink="/" routerLinkActive="active-link" title="home">
				<mat-icon>home</mat-icon>
			</a>
			&nbsp;
			Collaboration Framework
			<span fxFlex></span>
			<a mat-mini-fab color="primary" routerLink="/home" routerLinkActive="active-link" title="login">
				<mat-icon>lock</mat-icon>
			</a>
		</mat-toolbar>
	</ng-template>

	<div class="app-content">
		<router-outlet></router-outlet>
	</div>
	<mat-toolbar color="primary" class="mat-elevation-z3">
		<a mat-button href="https://science4africa.org" title="S4A Website">Science for Africa</a>
		<span fxFlex></span>
		<a mat-mini-fab color="primary" href="mailto:s4a@gmail.com" title="Email">
			<mat-icon>mail</mat-icon>
		</a>
	</mat-toolbar>
</mat-sidenav-container>