<mat-card>
	<div class="right-image"><img class="small-image" src="https://media-exp1.licdn.com/dms/image/C4D03AQFYK8Se7qBwpg/profile-displayphoto-shrink_800_800/0?e=1588204800&v=beta&t=87AzgMcgpEx8UR1VZNE02jJ_JRnqPPDpAGZ3b-IyAZY"/>
  </div>
		<p>Empowering African scientists through capacity-building in research.</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Vivamus arcu felis bibendum ut tristique et. Nisi lacus sed viverra tellus in. Justo
			eget magna fermentum fusce ut. Sit amet justo donec enim diam vulputate ut pharetra sit. Tincidunt praesent
			semper feugiat nibh. Nullam vehicula ipsum a arcu cursus vitae congue mauris.
		</p>
		<p>
			Nunc pulvinar sapien et ligula. Pretium nibh ipsum consequat nisl vel pretium lectus. Ac turpis egestas
			maecenas pharetra convallis posuere morbi leo. Arcu felis bibendum ut placerat duis ultricies lacus sed.
			Pharetra massa massa ultricies mi quis hendrerit dolor. Sem fringilla ut morbi tincidunt augue interdum
			velit euismod. Risus viverra adipiscing at in tellus integer. Malesuada pellentesque elit eget gravida cum
			sociis.
		</p>
</mat-card>
<mat-card>
	<mat-card-title>Africa</mat-card-title>
	<mat-card-content>
		<p>If you are a scientist in Africa looking for collaboration help, sign up to get connected with scientists in
			Europe, United States or Canada.</p>
	</mat-card-content>
	<mat-card-actions align="end">
		<a mat-button target="_blank" href="mail:contact@science4africa.org" color="primary">African Sign Up</a>
	</mat-card-actions>
</mat-card>
<mat-card>
	<mat-card-title>Europe / United States / Canada</mat-card-title>
	<mat-card-content>
		<p>If you are a scientist in Europe, United States or Canada, looking to collaborate with African scientists.
			Sign
			up here.</p>
	</mat-card-content>
	<mat-card-actions align="end">
		<a mat-button target="_blank" href="mail:contact@science4africa.org" color="primary">European Sign Up</a>
		<a mat-button target="_blank" href="mail:contact@science4africa.org" color="primary">United States Sign Up</a>
		<a mat-button target="_blank" href="mail:contact@science4africa.org" color="primary">Canadian Sign Up</a>
	</mat-card-actions>
</mat-card>