<mat-card class="splash-image">
	<mat-card-title class="splash-text">{{mainsummary.header}}</mat-card-title>
	<mat-card-content class="splash-text">
		<p> {{ mainsummary.p1}} </p>
		<p> {{ mainsummary.p2}} </p>
		<p> {{ mainsummary.p3}} </p>
		<p> {{ mainsummary.p4}} </p>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-title>{{mainafrica.header}}</mat-card-title>
	<mat-card-content>
		{{mainafrica.p1}}
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-title>{{mainwest.header}}</mat-card-title>
	<mat-card-content>
		{{mainwest.p1}}
	</mat-card-content>
	<mat-card-actions align="end">
		<a mat-button routerLink="/login" routerLinkActive="active-link" color="primary">{{mainafrica.p2}}</a>
	</mat-card-actions>
	<mat-card-actions align="end">
		<a mat-button routerLink="/login" routerLinkActive="active-link" color="primary">{{mainwest.p2}}</a>
	</mat-card-actions>
</mat-card>