<mat-card>
	<mat-card-title>Interest Definitions</mat-card-title>
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
		<div class="table-container">
			<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
				<ng-container matColumnDef="key">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Key</th>
					<td mat-cell *matCellDef="let score"> {{score.key}} </td>
				</ng-container>
				<ng-container matColumnDef="en_us_title">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Title En</th>
					<td mat-cell *matCellDef="let score"> {{score.en_us_title}} </td>
				</ng-container>
				<ng-container matColumnDef="fr_fr_title">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Title Fr</th>
					<td mat-cell *matCellDef="let score"> {{score.fr_fr_title}} </td>
				</ng-container>
				<ng-container matColumnDef="footerMessage">
					<td mat-footer-cell *matFooterCellDef colspan="4" class="footer">
						Showing {{dataSource.filteredData.length}} of
						{{dataSource.data && dataSource.data.length ? dataSource.data.length : 'No'}} defnititions
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="columns"></tr>
				<tr mat-row *matRowDef="let rows; columns: columns;"></tr>
				<tr mat-footer-row *matFooterRowDef="['footerMessage']"></tr>
			</table>

			<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
		</div>
		<button mat-button (click)="reset()">Reset</button>
</mat-card>